/* Universal styling */
body, html {
    height: 100%;
    cursor: url('/image/pointer.png'), auto;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    background-color: black;  /* Add this line */
    color: white;  /* Add this line */
}

a, button,input[type="submit"], .clickable-element {
    cursor: url('/image/hover-glove.png'), pointer !important;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;  /* Add this line */
}

/* Button styling */
.btn {
    font-size: 1.2rem;
    padding: 15px 30px;
    margin: 10px 0;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    background-color: white; /* Add this line */
    color: black; /* Add this line */
}

.btn:hover {
    background-color: black; /* Add this line */
    color: white; /* Add this line */
}

/* On larger screens */
@media (min-width: 576px) {
    h2 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .btn {
        font-size: 1.4rem; /* Increase font size for better readability on desktop */
        width: 48%; /* Slightly increased width */
        margin: 10px 1%; /* Adjusted margin */
    }

   #food-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fight-btn {
    width: 39%;
}

}

/* Winner Modal styling */
.modal-content {
    border: 2px solid gray; 
    text-align: center;
    background-color: black; /* Add this line */
    color: white; /* Add this line */
}

.modal-title {
    font-size: 1.5rem;
    color: white; /* Add this line */
}

.modal-body {
    font-size: 1.2rem;
    padding: 2rem;
    color: white; /* Add this line */
}

.fighting-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.fight-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#option1 {
    left: 0;
    animation: bumpRight 0.5s infinite alternate;
}

#option2 {
    right: 0;
    animation: bumpLeft 0.5s infinite alternate;
}

#option1 {
    background-color: #126aa5; /* Blue */
    color: #fff; /* White text for readability against dark background */
}

#option2 {
    background-color: #bb4235; /* Red */
    color: #fff; /* White text for readability against dark background */
}

.fight-btn:hover {
    opacity: 0.9;
}



@keyframes bumpRight {
    0% { left: 0; }
    100% { left: 10%; }
}

@keyframes bumpLeft {
    0% { right: 0; }
    100% { right: 10%; }
}

@keyframes knockout {
    0% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(-20px); opacity: 0.7; }
    100% { transform: translateY(50px) scale(0.5); opacity: 0; }
}

@keyframes hitRight {
    0% { left: 0; }
    50% { left: 10%; }
    100% { left: 0; }
}

@keyframes hitLeft {
    0% { right: 0; }
    50% { right: 10%; }
    100% { right: 0; }
}

.confetti {
    position: fixed;
    bottom: -50px;
    animation: blowUp 3s ease-out forwards; /* Increase duration to 3s */
}

@keyframes blowUp {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(calc(-100vh - 50px)) translateX(calc(-50vw + 100vw * var(--random-direction))) rotate(720deg);
        opacity: 0;
    }
}

/* Mobile styles */
@media (max-width: 575.98px) {
    .container {
        height: auto; /* Adjusted to make sure it takes the content's height */
        padding-top: 100px; /* Increase padding to avoid overlap with heading */
        padding-bottom: 50px; /* Add some space at the bottom for symmetry */
    }

    h2 {
        margin-bottom: 3rem;
    }

    #option1 {
        top: 70%; /* combined and adjusted for clearer visual */
        left: 0;
        animation: shakeVertical 0.5s infinite alternate; 
    }

    #option2 {
        bottom: 40%; /* Adjusted to make it symmetrical with #option1 */
        right: 0;
        top: auto;
        animation: shakeVertical 0.5s infinite alternate-reverse; /* Changed animation for mobile */
    }

  
@keyframes shakeVertical {
        0% { transform: translateY(0); }
        100% { transform: translateY(15%); } /* Even more dramatic shake */
    }

    /* Strengthened smackDown and smackUp animations */
    @keyframes smackDown {
    0% { top: 30%; }
    50% { top: 50%; } /* A smaller smacking motion */
    100% { top: 30%; }
}


    @keyframes smackUp {
        0%, 100% { bottom: 30%; }
        50% { bottom: 50%; } /* Adjusted for stronger smacking but not too deep */
    }

    /* Updated riseUpDisappear and fallDownDisappear for immediate action */
    @keyframes riseUpDisappear {
        0% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(-150%); opacity: 0; }
    }

    @keyframes fallDownDisappear {
        0% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(150%); opacity: 0; }
    }

}


@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-2px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(2px);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.slide-up-shake {
    animation: slideUp 1s cubic-bezier(0.25, 1, 0.5, 1), shake 0s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1.1s 1;
}
